body {
  --color-whitegrey: #ffffff;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100vw;
    margin: 0 auto;
    position: relative;
  }

  html {
    font-size: 16px;
  }

  /*header*/
  .header {
    width: 100vw;
    height: 25px;
    position: relative;
    background-color: var(--color-blue);
    z-index: 9000;
    background-color: #041a70;
  }

  .header h1 {
    display: none;
  }

  .headerContents {
    display: none;
  }

  .headerContents .navList {
    display: none;
  }

  .headerContents .navList02 {
    display: flex;
    flex-direction: column;
    color: #adcbff;
    gap: 20px;
    text-align: center;
    justify-content: space-evenly;
    display: none;
  }

  .headerContents .navList02 img {
    width: 20px;
    height: 20px;
    display: none;
  }
  .rightNav {
    width: 140px;
    height: 500px;
    background-color: #041a70;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    opacity: 0.4;
    position: absolute;
    right: 101px;
    top: 0px;
    z-index: 900;
    color: #f3f3f3;
    display: none;
  }

  .rightNav img {
    width: 30px;
    height: 30px;
    display: none;
  }

  .mobileNav {
    width: 80vw;
    height: 68px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: block;
    background-color: #041a70;
  }

  .mobileNav img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: block;
  }

  /*section01*/

  .section01 {
    width: 100vw;
    height: 546.06px;
    position: relative;
  }

  .nomalVideo {
    display: none;
  }

  .section01 .mobileVideo {
    display: none;
  }

  /*section04*/
  .section02 {
    width: 100vw;
    height: 6720px;
    background-color: #ffffff;
    position: relative;
  }

  .section02subTitle {
    width: 100vw;
    height: 185px;
    background-color: #ffffff;
    align-content: center;
    display: flex;
    align-items: center;
  }

  .section02subTitle img {
    width: 320px;
    height: 26px;
  }

  .section02subTitle .line {
    width: 150px;
    height: 4px;
    background-color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .section02Contents {
    width: 100%;
    height: 6530px;
    top: 185px;
    display: flex;
  }

  .section02ContentsMain {
    width: 100vw;
    height: 6530px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .article {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 90px;
  }

  .article h2 {
    line-height: 25px;
    font-size: 2.5rem;
    margin-top: 15px;
  }

  .article p {
    color: grey;
    line-height: 25px;
    font-size: 0.9rem;
  }

  .place-image-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px dotted grey;
    margin-bottom: 40px;
  }

  .place-image-wrapper img {
    width: 95%;
    height: 95%;
  }

  .place-image-wrapper h2 {
    font-size: 1rem;
  }

  /*section03*/
  .section03 {
    width: 100vw;
    height: 450px;
    background-color: #f3f3f3;
  }

  .section03Contents {
    width: 900vw;
    height: 550px;
    transition: all 1s;
    margin: 0 auto;
  }
  .section03ContentsIMG {
    float: left;
    width: 100vw;
    height: 400px;
  }

  .carousellBtnI {
    width: 60px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background-color: transparent;
  }

  .carousellBtnII {
    width: 60px;
    height: 50px;
    position: absolute;
    right: 60px;
    top: 0px;
    border: none;
    background-color: transparent;
  }

  /*section04*/

  .section04 {
    width: 100vw;
    height: 2125px;
    background-color: #f3f3f3;
    position: relative;
  }

  .cafeteria {
    width: 100%;
    height: 120px;
    background-color: #041a70;
    display: none;
  }

  .section04subTitle {
    width: 100%;
    height: 135px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
  }

  .section04subTitle img {
    width: 190px;
    height: 26px;
    display: block;
  }

  .section04subTitle .line {
    width: 350px;
    height: 4px;
    background-color: #000000;
    align-items: center;
    margin-top: 0px;
    margin-left: 30px;
  }

  .section04Contents {
    width: 100vw;
    height: 925px;
    position: relative;
  }

  .section04ContentsMain {
    width: 100vw;
    height: 620px;
    display: flex;
    flex-direction: column;
  }

  .section04ContentsMain .place-image-wrapper {
    margin: 0 auto;
  }

  /*footer*/
  .footer {
    width: 100vw;
    height: 292.25px;
    font-size: 0.8rem;
    background-color: white;
  }

  .footerContents {
    width: 100vw;
    height: 292.25px;
    margin-left: 458px;
    position: relative;
    margin: 0 auto;
  }

  .snsInner {
    width: 90vw;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
    position: absolute;
  }

  .snsInner img {
    width: 60px;
    height: 15px;
  }

  .footerLogo {
    width: 190px;
    height: 50px;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 30px;
  }

  .footerLogo img {
    width: 80px;
    height: 35px;
  }

  .footerText {
    align-content: center;
    margin-top: 65px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    text-align: left;
  }

  .footerText span::after {
    content: "|";
    width: 3px;
    height: 5px;
    color: var(--color-whitegrey);
    margin: 0px;
  }

  .address {
    color: grey;
  }
}
